name: PnPDM-toy
method:
  _target_: algo.pnpdm.PnPDM
  annealing_scheduler_config:
    num_steps: 100          # Align with diffusion num_steps
    sigma_max: 5.0         # Align with diffusion sigma_max
    sigma_min: 0.05        # No need to be too small, 0.05 is enough for toy problem
    rho: 0.93

  diffusion_scheduler_config:
    num_steps: 100          # Same order of magnitude as outer level
    sigma_max: 5.0         # Align with annealing sigma_max
    sigma_min: 0.05        # Align with annealing sigma_min
    sigma_final: 0
    schedule: 'linear'
    timestep: 'poly-7'

  lgvd_config:
    num_steps: 20          # 10~20 steps per layer is enough
    lr: 5e-4               # Increase step size to make x move towards data direction
    tau: 0.1               # Match noise_std (noise_std=0.5 in toy problem)
    lr_min_ratio: 0.1
